h1 {
    display: flex;
    justify-content: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    width: 90vw;
    display: flex;
    border: 5px solid lightgray;
    justify-content: space-around;
}