main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 7em 0 7em;
    align-items: flex-start;
}

.wrapper {
    background-image: url("../imgs/lamp-placeholder.webp");
    background-color: rgba(0, 0, 0, 0.307);
    background-size: 100% auto;
    background-position-x: center;
    background-blend-mode: darken;
    margin: .5em;
    width: 20em;
    border-radius: .2em;
    overflow: hidden;
    color: white;
}

.lamp {
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lamp:hover {
    background-color: rgba(0, 0, 0, 0.557);
}

.lamp:active {
    background-color: rgba(0, 0, 0, 0.707);
}

.hidden-content {
    padding: .5em;
    border-top: 2px dashed white;
}