main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5em 0 5em;
}

.lamp {
    width: 20em;
    height: 12em;
    background-image: url("../imgs/lamp-placeholder.webp");
    background-color: rgba(0, 0, 0, 0.307);
    background-size: 20em auto;
    background-position: center;
    background-blend-mode: darken;
    margin: .5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}