header {

}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: underline;
    text-shadow: 1px 2px #858383;
    text-decoration: underline;
    display: flex;
    justify-content: middle;
    margin-left: 3vw;
}
nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 5vw;
    width: 90vw;
    color: black;
    display: flex;
    justify-content: space-around;
    a:link {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: #858383;
    }
    a:hover {
        text-decoration: underline;
    }

}
